<div class="grid-item">
  <a href="<%= image.url %>" target="_blank">

    <div class="card card-inverse gram">
      <img class="card-img" src="<%= image.src %>" />
      <div class="card-img-overlay">
        <p class="card-text">
          <%= image.caption %>
        </p>
        <p class="card-text">
          <small class="text-muted">
            <%= Time.at(image.id).strftime('%A, %d %B %Y')%>
          </small>
        </p>
      </div>
    </div>
  </a>
</div>
