<div class="about">
  <p>

    Hi, I'm Kamille.
    <br />
    I am a Software Engineer.
    <br />
    <a href="https://youtu.be/uMKyp4zPgl8?t=2s" class="inline" target="_blank">Welcome back to my humble abode.</a>
    <br />
    <br />
    <br />
    <i class="fa fa-chevron-down fa-2x green" aria-hidden="true"></i>
  </p>
  <div class="parallax-window" data-parallax="scroll" data-image-src="me.jpg">
  </div>
  <p>
    <a href="/schools">I graduated</a> in 2015 from UC Berkeley with a bachelor's in <a href="http://www.classics.berkeley.edu/">Classics</a> (Latin emphasis) and got involved in the tech industry as soon as I could after graduation.
  </p>
  <div class="parallax-window" data-parallax="scroll" data-image-src="grad.jpg">
  </div>
  <p>
    Since graduation I have been working for the <a href="https://stanfordhealthcare.org/medical-clinics/center-marfan-syndrome-related-aortic-disorders.html">Cardiovascular Medicine</a> department at the Stanford University School of Medicine where I am building a <a href="/projects">proof-of-concept clinical application</a> scheduled for production next summer at the <a href="http://www.marfan.org" target="_blank">National Marfan Foundation</a> conference in Palo Alto.
  </p>
  <div class="parallax-window" data-parallax="scroll" data-image-src="nmf.jpg">
  </div>
  <p>
    I am also a Digital Humanities Fellow for <a href="http://www.paideiainstitute.org" target="_blank">The Paideia Institute</a>, with whom I've built the <a href="http://opca.paideiainstitute.org" target="_blank">Online Public Classics Archive</a> in co-sponsorship with the <a href="https://classicalstudies.org/">Society for Classical Studies</a>.
  </p>
  <div class="parallax-window" data-parallax="scroll" data-image-src="llir.jpg">
  </div>
  <p>
    In my nonexistent spare time I volunteer with <a href="https://www.womenwhocode.com/" target="_blank">Women Who Code</a> as a Ruby co-lead for <a href="https://www.meetup.com/Women-Who-Code-SF/" target="_blank">Ruby and Web Tuesdays.</a>
  </p>
  <div class="parallax-window" data-parallax="scroll" data-image-src="wwc.jpg">
  </div>

  <p>
    I live in San Francisco with my wonderful partner, several thriving houseplants, and a rooftop tomato garden. I enjoy exploring this most beautiful city and drinking only its finest coffee.
    <br />
    <br />
    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> <span class="signature">Kamille</span>
  </p>


</div>
