<br />
<div class="about">
  <img src="/me.jpg" alt="me" class="about-image">
  <hr />
  <p>
    Hi, I'm Kamille. <a href="https://youtu.be/uMKyp4zPgl8?t=2s" class="inline" target="_blank">Welcome back to my humble abode.</a>
  </p>
  <p>
    I am a Latinist turned Web Developer.
  </p>
  <p>
    <a href="/schools">I graduated</a> in 2015 from UC Berkeley with a bachelor's in <a href="http://www.classics.berkeley.edu/">Classics</a> (Latin emphasis) and attended <a href="https://launchacademy.com/" target="_blank">Launch Academy</a> to learn Rails in the Spring 2016 cohort.
  </p>
  <p>
    Since graduation I have been working for the <a href="https://stanfordhealthcare.org/medical-clinics/center-marfan-syndrome-related-aortic-disorders.html">Cardiovascular Medicine</a> department at the Stanford University School of Medicine where I am building a <a href="/projects">proof-of-concept clinical application</a> being put into limited production this summer at the <a href="http://www.marfan.org" target="_blank">National Marfan Foundation</a> conference in Atlanta.
  </p>
  <p>
    In my nonexistent spare time I volunteer with <a href="https://www.womenwhocode.com/" target="_blank">Women Who Code</a> as a Ruby co-lead for <a href="https://www.meetup.com/Women-Who-Code-SF/" target="_blank">Ruby and Web Tuesdays.</a>

    I also spend my time working for <a href="http://www.paideiainstitute.org" target="_blank">The Paideia Institute</a>, with whom I've built the <a href="http://www.classics.delgardo.co" target="_blank">Online Public Classics Archive</a>.
  </p>
  <p>
    I live in San Francisco with my wonderful partner, several thriving houseplants, and a rooftop tomato garden.
  </p>
</div>
