<div id="rootURL" data-url="<%= %>"></div>
<div class="row" id="kContainer">
  <div class="col-sm-12" id="kamilleotron">
    <h4>How can I help you?</h4>
  </div>
</div>
<script type="text/javascript">
  // var rootURL = document.getElementById('rootURL').getAttribute('data-url');
  mountCommandLine();
</script>
