<div class="row" id="kContainer">
  <div class="col-sm-12" id="kamilleotron">
    <h4>How can I help you?</h4>
  </div>
</div>

<script type="text/javascript">
  var kamille = document.getElementById("kamilleotron");
  var kContainer = document.getElementById("kContainer");
  function linkify(cmd) {
    var fieldset = document.createElement('fieldset');
    var hiddenInput = document.createElement('input');
    var submitButton = document.createElement('button');

    hiddenInput.value = cmd;
    submitButton.setAttribute('type', 'submit');
    submitButton.classList += "cmd";
    submitButton.innerText = cmd;
    submitButton.addEventListener("click", function(e) {
      e.preventDefault();
      console.log(cmd);
    })
    fieldset.append(hiddenInput);
    fieldset.append(submitButton);
    return fieldset;
  }
  var intros = [
    <%# "hello, stranger!",
    "welcome to the Kamille-o-tron",
    "try out some commands", %>
    "or type -h for help",
  ];

  var del = Math.floor(Math.random() * 10) + 20;
  var printCharOneByOne = function(statement, i, t) {
    var br = document.createElement('br');
    var interval = setInterval(function(){
      kamille.innerHTML += statement.charAt(i);
      i++;
      t += del;
      if (i > statement.length){
        clearInterval(interval);
        kamille.append(br);
      }
    }, del);
  }
  t = 0;
  charTime = del;
  lineTime = 1000;
  intros.forEach(x => setTimeout(() => {
    kamille.append("> ");
    var i = 0;
    printCharOneByOne(x, i , t);
  }, t += lineTime))
  console.log("time: " + t);

  // stasis
  var commandForm = document.createElement('form');
  var commandPrompt = document.createElement('input');
  commandPrompt.setAttribute("id", "commandPrompt");
  commandPrompt.setAttribute("type", "text");
  commandPrompt.setAttribute("autofocus", "true");
  commandForm.appendChild(commandPrompt);
  commandForm.setAttribute("id", "commandForm");
  commandForm.setAttribute("autocomplete", "off")

  setTimeout(function() {
    kContainer.append("> ");
    kContainer.append(commandForm);
  }, t+1000);

  commandForm.addEventListener("submit", function(e){
    e.preventDefault();
    var br = document.createElement('br');
    var br2 = document.createElement('br');
    var command = commandPrompt.value;
    var resp;
    switch (command) {
      case "-h":
      case "-H":
      case "h":
      case "H":
        resp = "HELP I NEED SOMEBODY";

        break;
      case "chopin":
      case "Chopin":
        resp = "hey Matt, go fuck yourself";
        break;
      default:
        resp = "command not recognized!";
    }
    commandPrompt.value = "";

    kamilleotron.append("> " + command);
    kamilleotron.append(br);

    kamilleotron.append("> " + resp);
    kamilleotron.append(br2);
  });

</script>
