<div id="schools">
  <% @schools.each do |school| %>
    <% if school.id % 2 == 0 %>
      <%= render 'schools/school_right', school: school %>
    <% else %>
      <%= render 'schools/school', school: school %>
    <% end %>
  <% end %>
</div>
