$light-green: rgb(103,142,42);
$dark-green: #2A8E51;
$light-pink: rgb(142,42,103);
$dark-pink: #512A8E;
$dark-light-pink: darken($light-pink, 10%);
$dark-light-green: darken($light-green, 30%);
$light-light-green: lighten($light-green, 10%);

// basic bitch pink and black
$dusty-pink: #C39EA0;
$light-dusty-pink: #FEECEB;
$charcoal: #36454f;
$hot-pink: #FA255D;

// Pantone color of the year 2019 theme 'under the sea'
$blue-depths: rgb(38, 48, 86);
$turkish-sea: rgb(25, 81, 144);
$viridian-green: rgb(0, 148, 153);
$turtle-green: rgb(129, 137, 78);
$living-coral: rgb(255, 111, 97);
$sea-pink: rgb(222, 152, 171);
$vibrant-yellow: rgb(206, 204, 205);
$limpet-shell: rgb(152, 221, 222);
