$light-green: #678E2A;
$dark-green: #2A8E51;
$light-pink: #8E2A67;
$dark-pink: #512A8E;
$dark-light-pink: darken($light-pink, 10%);
$dark-light-green: darken($light-green, 30%);
$light-light-green: lighten($light-green, 10%);
