$light-green: rgb(103,142,42);
$dark-green: #2A8E51;
$light-pink: rgb(142,42,103);
$dark-pink: #512A8E;
$dark-light-pink: darken($light-pink, 10%);
$dark-light-green: darken($light-green, 30%);
$light-light-green: lighten($light-green, 10%);
