/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require autocomplete-js/dist/autocomplete.css
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,900');
@import 'constants';
@import 'bootstrap';
@import "monokai";

body#main {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  background-color: rgba(255, 111, 97, 0.3) !important;

}


img {
  max-width: 100%;
}

#doings {
  padding: 0px 120px;
  color: black;
}

#portfolio-header, #education-header {
  color: $living-coral;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

h4 {
  font-weight: bolder;
}
