@import 'constants';

nav {
  height: 60px;
  font-size: 28px;
  font-family: 'Montserrat Subrayada', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color:  $turkish-sea !important;
}


#mainNav a.nav-link {
   color: white;
   text-decoration: none;
   &.active, &:hover {
     color: $living-coral;
  }
}

nav#education-header, nav#portfolio-header {
  font-size: 28px;
  font-weight: bold;
  height: 60px;
  background-color: white !important;
  a.nav-link.disabled {
     color: $living-coral;

     text-decoration: none;
     &.active, &:hover {
       cursor: pointer;
    }
  }
}
