@import 'constants';

div#projects {
  background: rgba(103,142,42,0.5);
}

div#schools {
  background: rgba(142,42,103,0.3);
}

div.project {
  margin: 0px auto;
  font-size: 20px;
  padding: 10px;
}

.right {
  text-align: right;
}

img.screenshot {
  width: inherit;
}

.project-header {
  text-decoration: none;
  font-size: 30px;
  a {
    color: $dark-light-pink;
    &:hover {
      text-decoration: none;
      color: $dark-pink;
    }
    &:focus {
      text-decoration: none;
      color: $dark-pink;
    }
  }
}
