body#root {
  background: black;
}
#kamilleotron {
  margin-left: auto;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 18px;
}
#commandForm {
  display: inline-block;
  input {
    background-color: black;
    border: 0;
    color: white
  }
}
#commandPrompt {
  font-family: monospace !important;
  font-size: 18px !important;
  margin: 0 0 0 25px;
  &:focus {
    outline-style: none !important;
  }
}
