<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      Hi I'm Kamille. I'm a software engineer with experience in Ruby and Javascript.
      <a href="#education" data-turbolinks="false">Check out what I've been doing at Oregon State.</a>
    </div>
    <div class="col-md-4 col-sm-12">
      <%= image_tag "/me.jpg" %>
    </div>
  </div>
</div>
