<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <a class="navbar-brand" href="/"><img src="/icon.png" class="navbar-brand"/></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" title="about">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item" title="projects list">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item" title="education">
        <a class="nav-link" href="/schools">Education</a>
      </li>
      <!-- <li class="nav-item" title="coming soon">
        <a class="nav-link disabled" href="/writing">
          Writing
        </a>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto justify-content-end">
      <li class="nav-icon" title="github">
        <a href="https://www.github.com/kamillamagna" target="_blank" class="nav-icon">
          <i class="fa fa-github-alt"></i>
        </a>
      </li>
      <li class="nav-icon" title="linkedin">
        <a href="https://www.linkedin.com/in/kamilledelgardo" target="_blank" class="nav-icon">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li class="nav-icon" title="email">
        <a href="mailto:kamille@delgardo.co?subject=Mail%20from%20Landing%20Page" target="_blank" class="nav-icon">
          <i class="fa fa-envelope"></i>
        </a>
      </li>
      <li class="nav-icon" title="meetup">
        <a href="https://www.meetup.com/en-AU/Women-Who-Code-SF/members/183648109/" target="_blank" class="nav-icon">
          <i class="fa fa-meetup"></i>
        </a>
      </li>
      <li class="nav-icon" title="twitter">
        <a href="https://twitter.com/kamillamagna" target="_blank" class="nav-icon">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-icon" title="instagram">
        <a href="https://www.instagram.com/kamillamagna/" target="_blank" class="nav-icon">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
