<nav id="mainNav" class="navbar sticky-top navbar-expand-sm navbar-light bg-light" data-toggle="affix">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarsExample11">
      <ul class="nav nav-pills" id="doingsHeadings">

        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Education</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#currently">Currently</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
